# --- Python ---
__pycache__/
*.pyc

# --- Virtual env ---
venv/
.env/

# --- ML / AI ---
/data/
datasets/
models/
checkpoints/
*.pt
*.pth
*.h5
*.onnx
*.npy
!/src/data/
# --- Chess / engines ---
rust_pgn/
engine/

# --- Logs ---
logs/
*.log

# --- OS ---
.DS_Store
Thumbs.db
